@charset "UTF-8";

#wrap {width:100%;background:#fff;}
#wrap #svgWrap {width:100%;padding:100px 0;}
#wrap #svgWrap > ul {width:100%;margin:50px 0;}
#wrap #svgWrap > ul:after {content:"";display:block;clear:both;}
#wrap #svgWrap > ul > li {float:left;width:25%;text-align:center;}
#wrap #svgWrap > ul > li > div {border:1px solid #c00;display:inline-block;background:#39c;box-sizing:border-box;}

#wrap #svgWrap > ul.svg-theme2 > li > div {width:100%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme3 > li > div {width:90%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme4 > li > div {width:50%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme6 > li > div {width:100%;padding:0;background:none;}
#wrap #svgWrap > ul.svg-theme7 > li > div {width:100%;padding:0;background:none;}
#wrap #svgWrap > ul.svg-theme8 > li > div {width:100%;padding:0;background:none;}
#wrap #svgWrap > ul.svg-theme9 > li > div {width:100%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme10 > li > div {width:100%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme11 > li > div {width:100%;padding:30px;background:none;}
#wrap #svgWrap > ul.svg-theme12 > li > div {width:100%;padding:30px;background:none;}
